@import url("https://fonts.googleapis.com/css?family=Pacifico|Caveat|Concert+One|Archivo+Black|Silkscreen|Luckiest+Guy|Shrikhand");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font1); 
    background-color: var(--color1);
    background-size: 100%;
    background-repeat: no-repeat;
    --color1: #010101 ;
    --color2: rgb(149, 149, 149);
    --color3: #80cbc4;
   overflow-y: hidden;
   --font1: 'rockwell';
   --font2:'archivo black';
   --font3: 'Luckiest guy';
   --font4: 'pacifico';
   --font5: 'concert one';
   --font6: 'silkscreen';
   --font7: 'shrikhand';

   
}
.logo {
    font-family: var(--font4);
    font-size: 2.5rem;
    font-weight: 600;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4,#ffffff,#ff1744,#0277bd);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
    animation: animate 20s linear infinite;
    position: relative;
    cursor:default;
}
.nav-bar {
    font-family:var(--font6);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.nav-bar a:hover {
    transform: scale(1.1);
}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color:var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rex;
}

.home-img img {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 35vw;
}

.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9%;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4,#ffffff,#ff1744,#0277bd);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
    animation: animate 20s linear infinite;
    position:absolute;
    top:30%;
    left:10%;
    max-width: 60rem;
}
.home-content h2{ 
    font-size: 2.5rem;
    color: var(--color3);
    position: absolute;
    left:10%;
    top: 51%;
}

@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.home-content p{
    color: var(--color2);
    font-size: 1.3rem;
    text-align: justify;
    max-width: 40rem;
    line-height:1.3;
    position: absolute;
    top: 60%;
    left: 10%;

    

}
.social-media1 {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--color2);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    position: absolute;
    top:75%;
    left: 10%;
}

.social-media1:hover{
    background: var(--color2);
    box-shadow: 0 0 1rem var(--color2);
}
.social-media2 {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--color2);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    position: absolute;
    top:75%;
    left: 15%;
}
.social-media2:hover{
    background: var(--color2);
    box-shadow: 0 0 1rem var(--color2);
}
.social-media3 {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--color2);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    position: absolute;
    top:75%;
    left: 20%;
}
.social-media3:hover{
    background: var(--color2);
    box-shadow: 0 0 1rem var(--color2);
}
.social-media4 {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--color2);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    position: absolute;
    top:75%;
    left: 25%;
}
.social-media4:hover{
    background: var(--color2);
    box-shadow: 0 0 1rem var(--color2);
}
.fam-bg{
    max-width: 60rem;
}
.fam-bg h1{
    font-family: var(--font3);
    position: absolute;
    top: 15%;
    left:30%;
    right: 30%;
    text-align: center;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4,#ffffff,#ff1744,#0277bd);
    background-size: 85%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.fam-bg p {
    font-family: var(--font5);
    font-size: 1.2rem;
    width: 60rem;
    position: absolute;
    top: 23%;
    left: 30%;
    text-indent: 3%;
    text-align: justify;
    line-height: 1.3rem;
    color:var(--color2);
}
.sagada-image img{
    position: absolute;
    top: 23%;
    left: 5%;
    width:300px;
    height:250px;
}
.langit-image img {
    position: absolute;
    top: 60%;
    left: 5%;
    width:300px;
    height:200px;
}
.titlehobbies h1 {
    font-family: var(--font3);
    position: absolute;
    top: 15%;
    left:43%;
    text-align: center;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--color1);
    color: var(--color2);
}
.skillstitle {
    font-family: var(--font3);
    font-size: 1.5rem;
    position: absolute;
    top: 15%;
    left:37%;
    text-align: center;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
    
}
.skills .skills-row {
   display: flex;
   flex-wrap: wrap;
   gap: 5rem; 
}
.skills-column {
    flex: 1 1 40 rem;
}
.skills-column .title {
    position: absolute;
    top: 20%;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content {
    position: absolute;
    top: 30%;
    left: 18%;
    bottom: 3%;
    width: 60rem;
    border: .2rem solid var(--color3);
    border-radius: .6rem;
    
}
.skills-content .level {
    padding: 1rem;
}
.skills-content .level h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .level h3 span {
    color: var(--color2);
}
.skills-content .level .bar {
    height: 2rem;
    border-radius: .6rem;
    border: .2rem solid var(--color3);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .level .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--color3);
}
.skills-column:nth-child(1) .skills-content .level:nth-child(1) .bar span{
    width: 70%;
}
.skills-column:nth-child(1) .skills-content .level:nth-child(2) .bar span{
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .level:nth-child(3) .bar span{
    width: 60%;
}
.skills-column:nth-child(1) .skills-content .level:nth-child(4) .bar span{
    width: 90%;
}
.careertitle h1 {
    font-family: var(--font3);
    font-size: 1.5rem;
    position: absolute;
    top: 15%;
    left:43%;
    text-align: center;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.careertitle p {
    position: absolute;
    top:30%;
    left: 19%;
    text-align: center;
    font-family: var(--font6);
    font-size: 1.3rem;
    color: var(--color3);
    max-width: 60rem;
}
.container {
    position: absolute;
    top:30%;
    left: 5%;
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}
.box img {
    display: block;
    width: 100%;
    border-radius: 5px; ;
}
.box:hover {
    transform: scale(1.3);
    z-index: 2;
}
.bodytwo {
    background:var(--color1)
}

.hobbyone h2{
    position: absolute;
    top: 23%;
    left: 3%;
    font-family: var(--font7);
    font-size: 2rem;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 80%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.hobbyoneimgone img{
    position: absolute;
    top:30%;
    left: 5%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbyoneimgone img:hover {
    transform: scale(1.1);
}
.hobbyoneimgtwo img{
    position: absolute;
    top:30%;
    left: 19%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbyoneimgtwo img:hover {
    transform: scale(1.1);
}
.hobbyoneimgthree img{
    position: absolute;
    top:57%;
    left: 5%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbyoneimgthree img:hover {
    transform: scale(1.1);
}
.hobbyoneimgfour img{
    position: absolute;
    top:57%;
    left: 19%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbyoneimgfour img:hover {
    transform: scale(1.1);
}
.hobbytwo h2{
    position: absolute;
    top: 23%;
    left: 35%;
    font-family: var(--font7);
    font-size: 2rem;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 80%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.hobbytwoimgone img{
    position: absolute;
    top:30%;
    left: 37%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbytwoimgone img:hover {
    transform: scale(1.1);
}
.hobbytwoimgtwo img{
    position: absolute;
    top:30%;
    left: 51%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbytwoimgtwo img:hover {
    transform: scale(1.1);
}
.hobbytwoimgthree img{
    position: absolute;
    top:57%;
    left: 37%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbytwoimgthree img:hover {
    transform: scale(1.1);
}
.hobbytwoimgfour img{
    position: absolute;
    top:57%;
    left: 51%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbytwoimgfour img:hover {
    transform: scale(1.1);
}
.hobbythree h2{
    position: absolute;
    top: 23%;
    left: 67%;
    font-family: var(--font7);
    font-size: 2rem;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 80%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.hobbythreeimgone img{
    position: absolute;
    top:30%;
    left: 68%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbythreeimgone img:hover {
    transform: scale(1.1);
}
.hobbythreeimgtwo img{
    position: absolute;
    top:30%;
    left: 82%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbythreeimgtwo img:hover {
    transform: scale(1.1);
}
.hobbythreeimgthree img{
    position: absolute;
    top:57%;
    left: 68%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbythreeimgthree img:hover {
    transform: scale(1.1);
}
.hobbythreeimgfour img{
    position: absolute;
    top:57%;
    left: 82%;
    height:180px;
    width: 200px;
    border-radius: 5px; 
    transition: 1s;
}
.hobbythreeimgfour img:hover {
    transform: scale(1.1);
}
.sandw {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--color1);
    color: var(--color2);
}
.sandwtitle {
    font-family: var(--font3);
    font-size: 1.5rem;
    position: absolute;
    top: 15%;
    left:35%;
    text-align: center;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
    
}
.sandw .sandw-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.sandw-row .sandw-column {
    flex: 1 1 40rem;
}
.sandw-column .medjtitleone {
    position: absolute;
    top: 25%;
    left: 17%;
    font-size: 2rem;
    margin: 0 0 1.5rem;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 80%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.sandw-column .medjtitletwo {
    position: absolute;
    top: 25%;
    left: 54%;
    font-size: 2rem;
    margin: 0 0 1.5rem;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 80%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.sandw-boxone .sandw-content {
    position: absolute;
    top: 30%;
    left: 16%;
    bottom: 3%;
    width: 30rem;
    border: .2rem solid var(--color3);
    border-radius: .6rem;
}
.sandw-boxtwo .sandw-content {
    position: absolute;
    top: 30%;
    left: 53%;
    bottom: 3%;
    width: 30rem;
    border: .2rem solid var(--color3);
    border-radius: .6rem;
}
.sandw-content .level {
    padding: 1rem 0;
}
.sandw-content .level h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.sandw-content .level h3 span {
    color: var(--color2);
}
.sandw-content .level .bar {
    height: 2rem;
    border-radius: .6rem;
    border: .2rem solid var(--color3);
    padding: .5rem;
    margin: 1rem 0;
}
.sandw-content .level .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--color3);
}
.sandw-column:nth-child(1) .sandw-content .level:nth-child(1) .bar span{
    width: 60%;
}
.sandw-column:nth-child(1) .sandw-content .level:nth-child(2) .bar span{
    width: 85%;
}
.sandw-column:nth-child(1) .sandw-content .level:nth-child(3) .bar span{
    width: 65%;
}
.sandw-column:nth-child(1) .sandw-content .level:nth-child(4) .bar span{
    width: 90%;
}

.sandw-column:nth-child(2) .sandw-content .level:nth-child(1) .bar span{
    width: 85%;
}
.sandw-column:nth-child(2) .sandw-content .level:nth-child(2) .bar span{
    width: 90%;
}
.sandw-column:nth-child(2) .sandw-content .level:nth-child(3) .bar span{
    width: 60%;
}
.sandw-column:nth-child(2) .sandw-content .level:nth-child(4) .bar span{
    width: 70%;
}
.careertitle h1 {
    font-family: var(--font3);
    font-size: 2.5rem;
    position: absolute;
    top: 15%;
    left:43%;
    text-align: center;
    background: linear-gradient(90deg, #81d4fa,#aed581,#ffcdd2,#9fa8da,#ffb74d,#80cbc4);
    background-size: 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:  text;
    background-clip: text;
}
.careertitle p {
    position: absolute;
    top:30%;
    left: 19%;
    text-align: center;
    font-family: var(--font6);
    font-size: 1.3rem;
    color: var(--color3);
    max-width: 60rem;
}
.container {
    position: absolute;
    top:30%;
    left: 5%;
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}
.box img {
    display: block;
    width: 100%;
    border-radius: 5px; ;
}
.box:hover {
    transform: scale(1.3);
    z-index: 2;
}
.bodytwo {
    background:var(--color1)
}